# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Runtime files
*/output.*
*/Lumps.txt
*/species.txt
*/reactions_list.txt

examples/uniquePathwayRxnSet.txt
examples/reconstructed_network.txt
examples/ReactionsOfEachRule.txt
examples/reactions_SMILES.txt
examples/reactions_MF.txt
examples/HMFPathways.txt
examples/lumpedNetwork.txt
examples/LumpedReconstructedNetwork.txt
examples/LumpSpecies.txt
examples/naphthenicsfile.txt

# Python byte compiled files
*.pyc
python/build/lib.win-amd64-3.6/pyring/react.cp36-win_amd64.pyd
python/build/temp.win-amd64-3.6/Release/pyring/react.cp36-win_amd64.exp
python/lumpedNetwork.txt
python/naphthenicsfile.txt
python/reconstructed_network.txt
python/ReactionsOfEachRule.txt
python/reactions_SMILES.txt
python/reactions_MF.txt
python/pyring/react.cp36-win_amd64.pyd
python/pyring/pyreactiontype.h
python/pyring/pyreactiontype.cpp
python/pyring/pyreactiontype.html
