# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Runtime files
*/output.*
*/Lumps.txt
*/species.txt
*/reactions_list.txt

examples/uniquePathwayRxnSet.txt
examples/reconstructed_network.txt
examples/ReactionsOfEachRule.txt
examples/reactions_SMILES.txt
examples/reactions_MF.txt
examples/HMFPathways.txt
examples/lumpedNetwork.txt
examples/LumpedReconstructedNetwork.txt
examples/LumpSpecies.txt
examples/naphthenicsfile.txt
